name: Validate Renovate

on:
  pull_request:
    paths:
      - ".github/workflows/renovate.yml"
      - ".github/renovate.json"
      - ".github/renovate.json5"
      - "renovate.json"
      - "renovate.json5"
      - "org-inherited-config.json"

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: latest

      # Hosted Renovate should use the latest available version, so always
      # install the newest version of Renovate
      - name: Install dependencies
        run: npm install -g renovate

      - name: Validate Renovate config
        env:
          CONFIG_FILE: 'org-inherited-config.json'
        run: renovate-config-validator --strict ${CONFIG_FILE}
